/* [project]/src/app/page.module.css [app-client] (css) */
.page-module___8aEwW__page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), .08);
  --gray-alpha-100: rgba(var(--gray-rgb), .05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.page-module___8aEwW__button {
  background-color: #931621;
  border: none;
  padding: 3%;
  margin-top: 2%;
}

.page-module___8aEwW__button:hover {
  background-color: #fff;
  color: #1a1a1a;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .page-module___8aEwW__page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), .145);
    --gray-alpha-100: rgba(var(--gray-rgb), .06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.page-module___8aEwW__main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.page-module___8aEwW__main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -.01em;
  list-style-position: inside;
}

.page-module___8aEwW__main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.page-module___8aEwW__main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.page-module___8aEwW__landing {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20%;
}

.page-module___8aEwW__logo {
  position: relative;
  opacity: .2;
}

.page-module___8aEwW__paragraph {
  opacity: 1;
  position: relative;
  text-transform: uppercase;
}

.page-module___8aEwW__paragraph span {
  color: #931621;
}

.page-module___8aEwW__requestEst {
  display: flex;
  max-width: 1100px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.page-module___8aEwW__reqEstParagraph {
  padding: 3%;
}

@media (hover: hover) and (pointer: fine) {
  a.page-module___8aEwW__primary:hover {
    background: var(--button-primary-hover);
    border-color: #0000;
  }

  a.page-module___8aEwW__secondary:hover {
    background: var(--button-secondary-hover);
    border-color: #0000;
  }

  .page-module___8aEwW__footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (width <= 600px) {
  .page-module___8aEwW__page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .page-module___8aEwW__main {
    align-items: center;
  }

  .page-module___8aEwW__main ol {
    text-align: center;
  }

  .page-module___8aEwW__ctas {
    flex-direction: column;
  }

  .page-module___8aEwW__ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.page-module___8aEwW__secondary {
    min-width: auto;
  }

  .page-module___8aEwW__footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  
}

.page-module___8aEwW__navigation {
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
}

.page-module___8aEwW__navigation li {
  display: inline-block;
  margin-right: 10px;
  background-color: var(--LightBlue);
  min-width: 80px;
  padding: 7px 20px;
  margin: 20px;
  text-align: center;
  margin: auto;
}

.page-module___8aEwW__navigation ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.page-module___8aEwW__navigation li:hover {
  color: #931621;
  background-color: #f2f2f2;
}


/*# sourceMappingURL=src_app_page_module_d12eb71c.css.map*/
