/* General container styles */
.container {
  background-color: #d9d9d9; /* Background color */
  color: #000000; /* Text color */
  min-height: 100vh;
  padding: 20px;
  padding-top: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Title for all sections */
.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Form container specific styles (vehicle/user info) */
.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  max-width: 600px;
  width: 100%;
  padding: 50px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  border-top: 2px solid black; /* Adds a black horizontal line */
}

/* Input wrapper specific styles (vehicle/user info) */
.inputWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.inputField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

/* Popular Services Section Styles */
.popularServicesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-top: 2px solid black; /* Adds a black horizontal line */
}

.popularServiceItem {
  display: flex;
  align-items: center;

  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.popularServiceText {
  flex-grow: 1;
  margin-left: 20px;
}

.popularServiceTitle {
  font-size: 24px;
  font-weight: bold;
  color: #931621; /* Red color */
  margin-bottom: 10px;
}

.popularServiceDescription {
  color: black;
}

.popularServiceCheckbox {
  width: 20px;
  height: 20px;
  background-color: #931621;
}
