.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 0px;

  font-family: var(--font-geist-sans);
}
.button {
  background-color: #931621;
  border: none;
  padding: 3%;
  margin-top: 2%;
}
.button:hover {
  background-color: white;
  color: #1a1a1a;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* navigation */
.navigation {
  background-color: #1a1a1a;
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
}
.navigation li,
.footer li {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed */
  background-color: var(--LightBlue);
  min-width: 80px;
  padding: 7px 20px;
  margin: 20px;
  text-align: center;
  margin: auto;
}
.navigation ul,
.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navigation li:hover,
.footer li:hover {
  color: #931621;
  background-color: #f2f2f2;
}

/* footer */
.footer {
  background-color: #1a1a1a;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
}

/* main page */
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  justify-content: center;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

/* landing page section one*/
.landing {
  position: relative;
  width: 100%;
  height: 700px; /* Adjust height as needed */
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20%;
}
.logo {
  position: relative;
  opacity: 20%;
}
.paragraph {
  opacity: 100%;
  position: relative;
  text-transform: uppercase;
}
.paragraph span {
  color: #931621;
}

/* grid photo */
.gridPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
}
.gridPhoto > div {
  font-size: 30px;
  text-align: center;
  margin: 3%;
}
.gridLayer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gridLayer > div {
  margin: 2%;
}

/* info sections */
.infoSection {
  display: flex;
  max-width: 1100px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.infoSectionWords {
  max-width: 900px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.infoParagraph {
  padding: 3%;
}
.dividerBar {
  background: #931621;
  width: 550px;
  height: 6px;
}
.fullDividerBar {
  background: #931621;
  width: 90%;
  height: 6px;
  margin: auto;
}
.divider {
  display: flex;
  align-items: center;
}
.rotateBolt {
  animation: spin 3s linear infinite;
  margin: 2%;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* learn our story section */
.photoGroup {
  display: flex;
}
.photoGroup img {
  margin: 2%;
}

/* beccome a member */

.infoBanner {
  background-color: #931621;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.bannerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerTitle h2 {
  min-width: fit-content;
  padding: 1%;
}
.bannerTitle .dividerBar {
  width: 100%;
  background-color: #1a1a1a;
}
.infoBanner .button {
  background-color: #1a1a1a;
}
.infoBanner .button:hover {
  background-color: white;
  color: #1a1a1a;
}
.infoBanner .infoSectionWords {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* reviews */

.reviews {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  max-width: 1200px;
  margin-bottom: 2%;
}
.reviews div {
  width: 500px !important;
  margin: 1%;
  flex: 0 0 auto;
}
