/* Button CSS */

.button {
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  border: 1px solid black;
  transition: 150ms ease;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  gap: 10px;
  margin-top: 20px;
}

.signup_button {
  background-color: #931621;
}

.google_button {
  background-color: white;
  color: black;
  font-size: 16px;
}

.button:hover {
  background-color: white;
  color: #1a1a1a;
  cursor: pointer;
}

/* Left container contains sign up info */

.leftContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  padding-top: 70px;
}

/* Right container contains logo and membership */
.rightContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
}

/* Membership info under logo */
.description {
  text-align: center;
  color: #931621;
  font-weight: bold;
  width: 70%;
  font-size: 32px;
}

/* Logo */
.logo {
  width: 100%;
  height: auto;
}

/* Main Container */
.signupPage {
  background-color: #d9d9d9; /* Background color */
  color: #000000; /* Text color */
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Container with formatting */
.container {
  display: flex;
  align-items: start;
  justify-content: left;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-left: 70px;
  padding-top: 70px;
}

/* Makes it so input boxes can be side to side */
.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  max-width: auto;
  width: 100%;
  padding-top: 20px;
}

/* Makes it so label is on top of input */
.inputWrapper {
  display: flex;
  flex-direction: column;
}

/* CSS for input boxes */
.inputBox {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: #000000;
  transition: 150ms ease;
}

/* CSS for google logo */
.google_logo {
  background-color: transparent;
  width: 20px;
  height: auto;
}

/* Create your account text at the top */
.header1 {
  color: black;
  font-family: "Inknut Antiqua";
  font-size: 70px;
  font-weight: bold;
}

/* to continue your experience text at the top */
.header2 {
  color: black;
  font-family: "Inknut Antiqua";
  font-size: 32px;
  font-weight: bold;
}

.loginContainer {
  padding-top: 10px;
  display: flex;
  gap: 5px;
  color: black;
}

/* login link at the bottom */
.login {
  color: #007aff;
  text-decoration: underline;
}

/* Container for email input and label */
.emailContainer {
  width: 100%;
}

/* Container for phone input and label */
.phoneContainer {
  width: 100%;
}

/* CSS for errors that appear when input is wrong/missing */
.errors {
  padding-top: 10px;
  color: #f06272;
  font-weight: bold;
}

/* Box for password requirements */
.passwordPopup {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  width: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* Changes how the list in password popup looks */
.passwordPopup ul {
  list-style-type: disc;
  margin: 5px 0;
  padding-left: 20px;
  font-size: 14px;
}

/* Changes how the text in password popup looks */
.passwordPopup p {
  font-weight: bold;
  margin-bottom: 5px;
}
