
.button {
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  border: 1px solid black;
  transition: 150ms ease;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  gap: 10px;
  margin-top: 20px;
}


.signup_button{
  background-color: #931621;
}


.google_button{
  background-color: white;
  color: black;
  font-size: 16px;
}

.button:hover {
  background-color: white;
  color: #1a1a1a;
  cursor: pointer;
}

/* Sign up section */
.signup{
  justify-content: left;
  background-color: #d9d9d9;
  display: grid;
}




/*testing signup*/


.leftContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
}

.rightContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.description{
  text-align: center;
  color:#931621;
  font-weight: bold;
  width: 70%;
  font-size: 32px;
}

.logo{
  width: 100%;
  height: auto;
}

.signupPage{
  background-color: #d9d9d9; /* Background color */
  color: #000000; /* Text color */
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container{
  display: flex;
  align-items: start;
  justify-content: left;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-left: 70px;
  padding-top: 70px;
}


.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  max-width: auto;
  width: 100%;
  padding-top: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputBox{
  width: 100%;
  padding: 12px 16px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white; 
  color: #000000;
  transition: 150ms ease;
}

.google_logo{
  background-color: transparent;
  width: 20px;
  height: auto;
}
/*testing signup*/


.header1{
  color: black;
  font-family: 'Inknut Antiqua';
  font-size: 70px;
  font-weight: bold;
}

.header2{
  color: black;
  font-family: 'Inknut Antiqua';
  font-size: 32px;
  font-weight: bold;
}

.loginContainer{
  padding-top: 10px;
  display: flex;
  gap: 5px;
  color: black;
}

.login{
  color: #007AFF;
  text-decoration: underline;
}

.emailContainer{
  width: 100%;
}

.phoneContainer{
  width: 100%;
}

.errors{
  padding-top: 10px;
  color: #f06272;
  font-weight: bold;
}

.passwordPopup{
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  width: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.passwordPopup ul{
  list-style-type: disc;
  margin: 5px 0;
  padding-left: 20px;
  font-size: 14px;
}

.passwordPopup p{
  font-weight: bold;
  margin-bottom: 5px;
}